<!-- SIDEBAR -->
<aside class="sidebar">
	<h2 style="color:white;">Home assistant</h2>

	<a class="menu-item" href="/dashboard">
		<img class="menu-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/home.svg" alt="Accueil">
		Accueil
	</a>

	<a class="menu-item" href="/volets">
		<img class="menu-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/window.svg" alt="Volets">


		Volets
	</a>

	<a class="menu-item" href="/lumieres">
		<img class="menu-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/bulb.svg" alt="Lumières">
		Lumières
	</a>

	<a class="menu-item" href="/capteurs">
		<img class="menu-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/device-analytics.svg" alt="Capteurs">
		Capteurs
	</a>

	<a class="menu-item" href="/scenes">
		<img class="menu-icon" src="https://cdn.jsdelivr.net/npm/@tabler/icons/icons/adjustments.svg" alt="Scènes">
		Scènes
	</a>


</aside>
